
.frame{
  display: inline-block;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  /*background: radial-gradient(circle at 50% 50%, #eeeeee 0%, #333 100%);*/
  background: silver;
  font-family: 'PT Mono';
}

iframe{
  margin:0;
  padding:0;
  vertical-align:bottom;
  border:0px;

}

#world-map{
  height: 100%;
  width: 100%;
}

#mapo{
  height: 100%;
  width: 100%;
}

.region-info{
  border: 1px solid white;
  border-radius: 10%;
  height: 302px;
  width: 335px;
  margin-top:-20px;
  background: rgba(197, 199, 203, 0.5);
  position: absolute;
  display: none;
  z-index: 1055;

}

.arrow-left{
  width: 0px;
  height: 0;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  position: absolute;
  margin:0;
  border-right:120px solid rgba(246,195,9,0.5);
  display: inline;
}

.region-row{
  height: 25%;
  border-bottom: 1px solid white;
  margin:0;
}
.last-row{
  border:0;
}

.region-img{
  height: 60px;
  display: :inline-block;
  width: 60px;
  border: 1px solid orange;
  border-radius: 50%;
  margin: 5px;
}
